.breadcrumbs {
    display: flex;
    align-items: center;
}

.dashboard {
    background-color: #F5F8F8;

    padding: 4px 16px;

    font-size: 14px;

    color: #7E8586;

    border-radius: 10px;
}